# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
MarkovChain/.vs/MarkovChain/v16/Browse.VC.opendb
MarkovChain/.vs/MarkovChain/v16/Browse.VC.db-wal
MarkovChain/.vs/MarkovChain/v16/Browse.VC.db-shm
MarkovChain/.vs/MarkovChain/v16/Browse.VC.db
MarkovChain/.vs/MarkovChain/v16/.suo
MarkovChain/.vs/MarkovChain/v16/ipch/AutoPCH/33324f9d8c30e1c2/MAIN.ipch
MarkovChain/.vs/MarkovChain/v16/ipch/AutoPCH/c5cf3f1e004085c1/PARSERARG.ipch
MarkovChain/.vs/MarkovChain/v16/ipch/AutoPCH/df8ad951d4b8e457/PARSERARG.ipch
MarkovChain/Debug/MarkovChain.exe.recipe
MarkovChain/Debug/MarkovChain.ilk
MarkovChain/Debug/MarkovChain.log
MarkovChain/Debug/MarkovChain.pdb
MarkovChain/Debug/MarkovChain.tlog/CL.command.1.tlog
MarkovChain/Debug/MarkovChain.tlog/CL.read.1.tlog
MarkovChain/Debug/MarkovChain.tlog/CL.write.1.tlog
MarkovChain/Debug/MarkovChain.tlog/link.command.1.tlog
MarkovChain/Debug/MarkovChain.tlog/link.read.1.tlog
MarkovChain/Debug/MarkovChain.tlog/link.write.1.tlog
MarkovChain/Debug/MarkovChain.tlog/MarkovChain.lastbuildstate
MarkovChain/Debug/MarkovChain.vcxproj.FileListAbsolute.txt
MarkovChain/Debug/vc142.idb
MarkovChain/Debug/vc142.pdb
